/** Responsive tablette
===================================================================*/


@media screen and (max-width: 992px) {
  /** Filtres
===================================================================*/

  .menu_filters {
    display: flex;
    flex-direction: column;
    font-family: font_1;
    font-size: 20px;
  }

  .filter {
    display: flex;
    align-items: baseline;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .indic {
    margin: 0px;
    padding-bottom: 20px;
  }

  /** section hotels
===================================================================*/


  /** hébergement **/
  article.hotels {
    padding: 0;
  }

  .section_places {
    border-radius: 0;
    width: 100%;
  }

  .section_places h2 {
    margin: 0;
  }

 

  /** Section populaire
===================================================================*/

  .section_popular {
    border-radius: 0;
  }
  
  .image_hotel_popular {
   width: 200px;
  }



  /** Section activitées
===================================================================*/
.activities {
  flex-direction: column;
}

.bloc_1,
.bloc_2,
.bloc_3,
.bloc_4 {
width: 100%;
}

.bloc_1 .card_size_0,
.bloc_3 .card_size_0,
.bloc_2 .card_size_1,
.bloc_4 .card_size_1,
.bloc_2 .card_size_2,
.bloc_4 .card_size_2 {
  height: 200px;
  box-shadow: 0px 10px 20px -20px #6e6e6e;
}

.bloc_1 .card_size_0 img,
.bloc_3 .card_size_0 img, 
.bloc_2 .card_size_1 img,
.bloc_4 .card_size_1 img, 
.bloc_2 .card_size_2 img,
.bloc_4 .card_size_2 img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 15px;

}

  /** Footer
===================================================================*/

  footer {
    padding-right: 50px;
  }
}
